<hr class="mt-5">
<div class="container d-flex flex-column align-items-center mt-5">
    <!-- restaurant details -->
    <div class="d-flex flex-column align-items-center text-center">
        <h1><i class="fa-solid fa-utensils"></i>&nbsp;Restaurant</h1>
        <p>We offer a unique dining experience that blends the finest ingredients with culinary expertise to create memorable meals. Located in the heart of [Hyderabad], we pride ourselves on providing exceptional service in a warm and inviting atmosphere. Join us for a meal and taste the difference.</p>
        <p>Monday - Friday: 11:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday: 9:00 AM - 11:00 PM</p>
    </div>
    <!-- social icons -->
    <div class="fs-1" style="letter-spacing: 5px;">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</div>