<% layout("Layouts/boilerplate.ejs") -%>

    <!-- home image section -->

<div class="card text-bg-dark">
    <!-- <img src="https://images.unsplash.com/photo-1716367142215-5edc8dc9936b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img home-image" alt="..."> -->
    <div class="card-img home-image">

    </div>

    <div class="card-img-overlay d-flex flex-column justify-content-center text-center home-image-text">
        <h1 class="card-title " >Welcome To Restaurant</h1>
        <p class="card-text   para-1">Enter as guests, leave as family</p>
        <p class="card-text   para-2"><small>Good food meets greate company</small></p>
    </div>
</div>



 <!-- <div class="home-image">
    <img src="https://images.unsplash.com/photo-1716289968584-5d61c97dde93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img-fluid"> 
</div> -->

<!-- about us section -->
<div class="text-center mt-5 mb-5">
    <h1 style="letter-spacing: 0.5rem;">ABOUT US</h1>
    <p class="fs-4">Welcome to Restaurant, where we combine fresh, locally-sourced ingredients with culinary creativity to offer an unforgettable dining experience. Enjoy our warm hospitality, inviting atmosphere, and expertly crafted dishes that celebrate both tradition and innovation. Join us for a memorable meal that brings people together.</p>
</div>

<!-- quote -->
<div class="row">
    <div class="col-md-6 d-flex flex-column  text-center justify-content-center">
        <i class="fa-solid fa-quote-right " style="font-size: 3rem;"></i>
        <p class="fs-1">A restaurant is a fantasy—a kind of living fantasy in which diners are the most important members of the cast</p>
        <p class="fs-3"> — Warner LeRoy</p>
    </div>
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1564436872-f6d81182df12?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="">
    </div>
</div>


<!-- Our menu -->
<div class="text-center mt-5">
    <h1 style="letter-spacing: 1rem;">OUR MENU</h1>
</div>

<div class="row text-center mt-5 row-gap-5 mb-5">
    <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1529042410759-befb1204b468?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img-fluid">
        <h3 style="letter-spacing: 0.5rem;">STARTERTS</h3>
    </div>
    <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1610057099443-fde8c4d50f91?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="">
        <h3 style="letter-spacing: 0.5rem;">MAIN COURSE</h3>
    </div>
    <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1606313564200-e75d5e30476c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="">
        <h3 style="letter-spacing: 0.5rem;">DESSERTS</h3>
    </div>
</div>

<!-- book -->
<div class="row mt-5 mb-5">
    <div class="col-lg-6 d-flex align-items-center">
        <img src="https://images.unsplash.com/photo-1716314052161-8ed819275744?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  class="img-fluid" alt="">
    </div>
    <div class="col-lg-6">
        <h3>Gather Your Loved Ones for an Unforgettable Dining Experience</h3>
        <p>Ready to create cherished memories over a delightful meal? Book a table for your friends and family at our restaurant, where exceptional food and warm hospitality come together to make every occasion special</p>
        <h3>Why Choose Us?</h3>
        <ul>
            <li>Ambiance: Our restaurant offers a cozy, welcoming atmosphere perfect for any gathering, whether it's a casual get-together or a special celebration.</li>
            <li>Cuisine: Savor a diverse menu crafted by our expert chefs, featuring a variety of dishes to please every palate, from classic favorites to innovative creations.</li>
            <li>Service: Our attentive and friendly staff are dedicated to ensuring your dining experience is seamless and enjoyable, catering to your every need.</li>
            <li>Comfort: Spacious seating arrangements and a relaxed environment provide the perfect setting for conversations and laughter with your loved ones.</li>
        </ul>
        <h3>Booking Details:</h3>
        <ul>
            <li>Easy Reservations: Simply call us at phone number or click order button to book your table. Our reservation process is quick and hassle-free.</li>
            <li>Custom Requests: Let us know if you have any special requirements or dietary restrictions. We’re happy to accommodate and make your visit as comfortable as possible.</li>
            <li>Private Dining: Looking for a more intimate setting? Ask about our private dining options for a more exclusive experience.</li>
        </ul>
        <h3>Join Us and Celebrate Togetherness</h3>
        <p>Whether it's a birthday, anniversary, or just a catch-up with friends, our restaurant is the perfect place to enjoy great food and even better company. Book your table today and let us host your unforgettable dining experience.</p>

        <div class="d-grid">
            <button type="button" class="btn btn-outline-danger ">BOOK NOW</button>
        </div>
    </div>
</div>

<!-- order online -->
<div class="row mt-5 row-gap-4">
    <div class="col-12 text-center">
        <h1 style="letter-spacing: 0.5rem;">ORDER FOOD ONLINE</h2>
    </div>
    <div class="col-lg-6">
        <h3>Enjoy Our Delicious Cuisine from the Comfort of Your Home</h3>
        <p>Craving your favorite dishes but prefer to dine at home? With our easy and convenient online ordering system, you can savor the flavors of our restaurant without stepping out of your door.</p>

        <h3>Why Order Online with Us?</h3>
        <ul>
            <li>Extensive Menu: Explore our full menu online, featuring a wide range of appetizers, mains, desserts, and beverages. Whether    you're in the mood for a hearty meal or a light snack, we've got something to satisfy every craving.
                Fresh and Quality Ingredients: Every dish is prepared using the freshest ingredients and crafted with the same care and attention to detail as if you were dining in.
            </li>

            <li>User-Friendly Platform: Our online ordering system is designed to be simple and intuitive. Browse, select, and customize your order with ease, all in just a few clicks.</li>
            <li>Fast and Reliable Delivery: We partner with top delivery services to ensure your food arrives hot and fresh, right to your doorstep, in the shortest possible time.</li>
            <li>Contactless Options: For your safety and convenience, we offer contactless delivery and payment options. Enjoy your meal with peace of mind.</li>
        </ul>

        <h3>How to Order:</h3>
        <ul>
            <li>Visit Our Website: Go to Menu to start your order.</li>
            <li>Browse the Menu: Select your favorite dishes and customize them to your preference.</li>
            <li>Add to Cart: Review your selections and proceed to checkout.</li>
            <li>Enter Your Details: Provide your delivery address and payment information.</li>
            <li>Place Your Order: Sit back and relax while we prepare your meal. Track your order status in real-time if available.</li>
        </ul>
        <p>
            Whether it’s a family dinner, a solo treat, or a gathering with friends, ordering online from our restaurant brings the dining experience to you. Visit our website and place your order today to enjoy a delicious meal in the comfort of your home.
        </p>

        
            <a href="/menu" class="d-grid" style="text-decoration: none;"><button type="button" class="btn btn-outline-danger " >ORDER NOW</button></a>
        
    </div>
    <div class="col-lg-6 d-flex align-items-center">
        <img src="https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="">
    </div>
</div>

